.tools {
    width: 85px;
}

.name {
    width: 20%;
    min-width: 150px;
}

.date {
    width: 180px;
    min-width: 88px;
}

.tags {
    width: 200px;
    min-width: 88px;
}

.btn-icon:hover {
    cursor: pointer;
}

.btn-icon.disabled {
    cursor: default;
    opacity: 0.55;
}