<div class="page-header" style="text-align: center">
    <h1>Restricted areas are yet to come</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <img src="images/under_construction_icon-green.svg"  alt="Under Construction"/>
                <div style="margin:auto; width:600px">
                    <h2>This feature is currently under construction!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
