<div>
    <map-view search-geom-wkt="geoFilterExpression.value"
              search-geom-title="geoFilterExpression.displayValue"
              center-search-geometry="true"
              preserve-zoom-on-center="false"
              preserve-search-area="true"
              objects="data.resultObjects"
              object="object"
              center-objects="false"
              selected-object="data.selectedObject"
              toolbar-showing="masterToolbarService.getCanShow() && masterToolbarService.isShowing()"
              toolbar-width="250"
              navbar-height="100">    
    </map-view>
</div>
