<update-title title="{{object.name}}"></update-title>
<update-meta name="description" content="{{object.description | txtLen:300:false:'...':true}}"></update-meta>
<update-meta name="keywords" content="{{object.tags | keywordsString}}"></update-meta>

<div class="switchon-object-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="">Details of "{{object.name}}"</h2>
            </div>
        </div>
        <!-- Name -->
        <!--
        <div class="row">
            <div class="col-lg-3">
                <label>Name:</label>
            </div>
            <div class="col-lg-9">
                {{object.name}}
            </div>
        </div>
        -->
        
        <!-- Description -->
        <div class="row" ng-if="object.description">
            <div class="col-lg-3">
                <label>Description:</label>
            </div>
            <div class="col-lg-9">
                <p>{{object.description}}</p>
            </div>
        </div>
        
        <!-- Keywords -->
        <div class="row" ng-if="keywords && keywords.length">
            <div class="col-lg-3">
                <label>General Keywords:</label>
            </div>
            <div class="col-lg-9">
                <span ng-repeat="tag in keywords">
                    <span class="label label-info" title="{{tag.description || ''}}">{{tag.name}}</span>
                </span>
            </div>
        </div>
        
        <!-- X-CUAHSI Keywords -->
        <div class="row" ng-if="keywordsXcuahsi && keywordsXcuahsi.length">
            <div class="col-lg-3">
                <label title="X-CUAHSI keywords build on a hierarchical keyword selection from the hydrologic ontology developed by CUAHSI, with additional hierarchical keywords for relevant non-hydrosphere data.">
                    CUAHSI Keywords:
                </label>
            </div>
            <div class="col-lg-9">
                <span ng-repeat="tag in keywordsXcuahsi">
                    <span class="label label-primary" title="{{tag.description || ''}}">{{tag.name}}</span>
                </span>
            </div>
        </div>
        
        <!-- Topic Category -->
        <div class="row">
            <div class="col-lg-3" title="High-level classification of resources in accordance with ISO 19115 for grouping and topic-based search">
                <label>INSPIRE Topic Category:</label>
            </div>
            <div class="col-lg-9" title="{{object.topiccategory.description|| ''}}">
                <span class="label label-default" title="{{object.topiccategory.description|| ''}}">{{object.topiccategory.name ? object.topiccategory.name : '[none]'}}</span>
            </div>
        </div>
        
        <!-- Point of Contact: -->
        <!-- Hide the contact for SWITCH-ON Meta-Data Provider (default when no contact information was provided by summerworkers) -->
        <div class="row" ng-if="object.contact && object.contact.role.name !== 'metadataProvider' && (object.contact.name || object.contact.organisation)">
            <div class="col-lg-3" title="Name of contact person of the responsible party (optional) for providing the data or meta-data.">
                <label>Point of Contact:</label>
            </div>
            <div class="col-lg-9">
                <span ng-if="object.contact.name">{{object.contact.name}} </span>
                <span ng-if="object.contact.email">
                    &lt;
                    <a ng-if="object.contact.email.indexOf(' ') === -1" href="mailto:{{object.contact.email}}">{{object.contact.email}}</a>
                    <span ng-if="object.contact.email.indexOf(' ') !== -1">{{object.contact.email}}</span>
                    &gt; 
                </span>
                <span ng-if="object.contact.organisation && !object.contact.url"> ({{object.contact.organisation}})</span>
                <span ng-if="object.contact.organisation && object.contact.url"> 
                    (<a href="{{object.contact.url}}" target="_blank" rel="nofollow">{{object.contact.organisation}}</a>)
                </span>
            </div>
        </div>
        
        <!-- Citation / DOI -->
        <!-- use description of pointOfContact as Citation / DOI -->
        <div class="row" ng-if="object.contact && object.contact.role.name === 'pointOfContact' && object.contact.description">
            <div class="col-lg-3" title="Bibliographic citation or a Digital Object Identifier (DOI)">
                <label>Citation:</label>
            </div>
            <div class="col-lg-9">
                <span>{{object.contact.description}}</span>
            </div>
        </div>
        
        <div class="row" ng-if="doiBadge && doiBadge != null">
            <div class="col-lg-3" title="Digital Object Identifier (DOI)">
                <label>Digital Object Identifier:</label>
            </div>
            <div class="col-lg-9">
                <a href="{{doiBadge.href}}" target="_blank" title="{{doiBadge.alt}}"><img src="{{doiBadge.src}}" alt="{{doiBadge.alt}}"/></a>
                <span>(<a href="{{doiBadge.href}}" target="_blank" title="{{doiBadge.alt}}">{{doiBadge.href}}</a>)</span>
            </div>
        </div>

        <!-- Temporal extent: -->
        <div class="row" ng-if="object.fromdate || object.todate">
            <div class="col-lg-3">
                <label>Temporal extent:</label>
            </div>
            <div class="col-lg-9">
                {{object.fromdate| date: "yyyy-MM-ddTHH:mmZ"}} - {{object.todate| date: "yyyy-MM-ddTHH:mmZ"}}
            </div>
        </div>
        
        <!-- Spatial extent: -->
        <div class="row" ng-if="object.spatialcoverage">
            <div class="col-lg-3">
                <label>Geospatial extent:</label>
            </div>
            <div class="col-lg-9">
                <a href="#/map/object/{{object.id}}"
                   title="Show resource on the on the map">{{object.spatialcoverage.geo_field.substring(0, object.spatialcoverage.geo_field.indexOf('('))}}</a> 
            </div>
        </div>        

        <!-- Creation date -->
        <div class="row" ng-if="object.creationdate">
            <div class="col-lg-3" title="Date of creation of the resource">
                <label>Created:</label>
            </div>
            <div class="col-lg-9">
                {{object.creationdate| date: "yyyy-MM-ddTHH:mmZ"}}
            </div>
        </div>
        
        <!-- Last modification date -->
        <div class="row" ng-if="object.lastmodificationdate">
            <div class="col-lg-3" title="Date of last revision of the resource">
                <label>Last modified:</label>
            </div>
            <div class="col-lg-9">
                {{object.lastmodificationdate| date: "yyyy-MM-ddTHH:mmZ"}}
            </div>
        </div>
        
        <!-- Publication date -->
        <div class="row" ng-if="object.publicationdate">
            <div class="col-lg-3" title="Date of publication of the resource at the origin website, catalogue, etc.">
                <label>Published:</label>
            </div>
            <div class="col-lg-9">
                {{object.publicationdate| date: "yyyy-MM-ddTHH:mmZ"}}
            </div>
        </div>
        
        <!-- Access conditions -->
        <!--
        <div class="row" ng-if="object.accessconditions">
            <div class="col-lg-3" title="General license which applies to the usage of the data.">
                <label>Access conditions:</label>
            </div>
            <div class="col-lg-9" title="{{object.accessconditions.description || ''}}">
                {{object.accessconditions.name ? object.accessconditions.name : 'unknown'}}
            </div>
        </div>
        -->
        
        <!-- License statement -->
        <div class="row" ng-if="object.accessconditions || object.licensestatement">
            <div class="col-lg-3" title="Detailed license conditions which apply to the usage of the data">
                <label>License:</label>
            </div>
            <div class="col-lg-9">
                <span   ng-if="object.accessconditions"
                        ng-bind-html="object.accessconditions.description ? object.accessconditions.description : object.accessconditions.name">
                </span>
                <p ng-if="object.licensestatement">
                    {{object.licensestatement ? object.licensestatement : 'unknown'}}
                </p>
            </div>
        </div>
        
        <!-- Lineage -->
        <div class="row" ng-repeat="metadata in object.metadata| filter:{type: {name: 'lineage meta-data'}}">
            <div class="col-lg-3" title="Information on how the data was created.">
                <label>Data Lineage:</label>
            </div>
            <div class="col-lg-9">
                <p ng-if="metadata.description">{{metadata.description}}</p>
            </div>
        </div>
        
        <!-- Meta-Data Documents-->
        <div class="row">
            <div class="col-lg-3" title="Meta-Data Record as machine-readable standard meta-data documents">
                <label>Meta-Data files</label> (machine-readable)
            </div>
            <div class="col-lg-9">
                <span>
                    <a href="{{config.resourceJsonUrl}}{{object.$self}}"
                       target="_blank" 
                       rel="nofollow"
                       type="application/json"
                       title="{{object.name}} Meta-Data in SWITCH-ON JSON format">SWITCH-ON Meta-Data Record</a>
                </span>
                <span ng-if="object.uuid"><br> 
                    <a href="{{config.resourceXmlUrl}}{{object.uuid}}"
                       target="_blank" 
                       rel="nofollow"
                       type="application/xml"
                       title="{{object.name}} Meta-Data in ISO 19115 XML format">ISO 19115 Meta-Data Record</a> 
                </span>
            </div>
        </div>
        <hr>
        
        <!-- Representations -->
        <div class="row" ng-if="representations">
            <div class="col-lg-12">
                <h3>Datasets</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ng-include src="'templates/object-representation-template.html'"></ng-include>
            </div>
        </div>
    </div>
</div>