<div class="nav navbar-nav btn-group" dropdown>
    <button type="button" 
            class="btn btn-link navbar-btn navbar-left dropdown-toggle" 
            dropdown-toggle>
        All categories <span class="caret"></span>
    </button>
    <ul class="dropdown-menu switchon-categories-dropdown" role="menu">
        <li ng-repeat="category in getCategories('category-collection')">
            <a ng-click="filterExpressions.clear();
                    collectionFilterExpression.setArrayValue(category);
                    $hide();
                    performSearch();">{{category}}</a>
        </li>
    </ul>
</div>