<div class="panel panel-default">
    <div class="panel-body">
        <!--<input type="text" ng-model="keyword" 
               typeahead="keyword for keyword in keywordList | filter:$viewValue | limitTo:8" 
               typeahead-editable="false"
               class="form-control">-->
        <select name="{{countryGroup}}" id="{{countryGroup}}" 
                ng-model="country" ng-options="country for (country, geom) in countryList" 
                class="form-control" size="8" multiple ></select>
    </div>
</div>