<div class="panel panel-default">
    <div class="panel-heading">Date Filter</div>
    <div class="panel-body">
        <form  class="form" 
               name="dateFilterBox" 
               role="form"  
               novalidate>
            <div class="form-group">
                <label for="fromDateField">Start Date: </label>
                <input class="form-control" name="fromDateField" id="fromDateField" type="date" 
                       ng-model="filterExpressions.fromDate"
                       />
            </div>

            <div class="form-group">
                <label for="toDateField">End Date: </label>
                <input class="form-control" name="toDateField" id="toDateField" type="date" 
                       placeholder="yyyy-MM-dd" ng-model="filterExpressions.toDate"/>
            </div>
        </form>
    </div>
</div>
