<!--<div class="panel panel-default">
    <div class="panel-body">-->
        <!--<input type="text" ng-model="keyword" 
               typeahead="keyword for keyword in keywordList | filter:$viewValue | limitTo:8" 
               typeahead-editable="false"
               class="form-control">-->
        <select ng-if="multiple === 'true'"
                name="{{keywordGroup}}" id="{{keywordGroup}}" 
                ng-model="filterExpression.value" ng-options="keyword for keyword in keywordList" 
            class="form-control" size="11" multiple> 
        </select>
        <select ng-if="multiple !== 'true'"
                name="{{keywordGroup}}" id="{{keywordGroup}}" 
                ng-model="filterExpression.value" ng-options="keyword for keyword in keywordList" 
            class="form-control" size="11">   
            <option value="">none</option>
        </select>
<!--    </div>
</div>-->