<div class="popover switchon-ribbon-popover" id="limitEditor">
    <div class="arrow"></div>
    <div class="popover-content">
        <form name="limitForm" id="limitForm" novalidate> 
            <div class="form-group" ng-class="{'has-error': limitForm.limitField.$invalid}">
                <input type="number" 
                       class="form-control" 
                       min="1" 
                       max="50" 
                       name="limitField" 
                       id="limitField" 
                       placeholder="limit"
                       ng-model="data.editorValue"
                       ng-init="data.applyChangesOnClose = false">
                <span title="Cancel"
                      aria-label="Cancel"
                      name="cancelButton"
                      id="cancelButton"
                      class="btn btn-default"
                      ng-click="$hide()">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
                <span title="Apply"
                      aria-label="Apply"
                      name="applyButton"
                      id="clearButton"
                      class="btn btn-default"
                      ng-click="tag.origin.value = data.editorValue; $hide()"
                      ng-disabled="limitForm.limitField.$invalid">
                    <span class="glyphicon glyphicon-ok"></span>    
                </span>
            </div>
        </form>
    </div>
</div>