<table ng-table="tableParams" class="table table-striped table-bordered table-hover">
    <tr ng-repeat="node in $data">
        <td data-title="'Name'" sortable="'object.name'" class="name">{{node.object.name}}</td>
        <td data-title="'Description'">{{node.object.description| txtLen:80:false:null:true}}</td>
        <td data-title="'Temporal Extent'" sortable="'object.fromdate'" class="date">
            {{node.object.fromdate| date: "dd.MM.yyyy"}} - 
            {{node.object.todate| date: "dd.MM.yyyy"}}
        </td>
        <td data-title="'Keywords'" class="tags">
            <span ng-repeat="tag in node.object.tags">
                <span class="label label-primary">{{ tag.name}}</span>
            </span>
        </td>
        <td data-title="'Tools'" class="tools">
            <span bs-tooltip
                  data-placement="left"
                  data-trigger="hover"
                  data-delay="{show: 400, hide: 100}"
                  data-title="Info"
                  class="btn-invisible btn-icon"
                  ng-click="showInfo(node.object)">
                <i class="glyphicon glyphicon-info-sign"></i>
            </span>
            <span bs-tooltip
                  data-placement="left"
                  data-trigger="hover"
                  data-delay="{show: 400, hide: 100}"
                  data-title="Download"
                  class="btn-invisible"
                  ng-click="showDownload(node.object)">
                <i class="glyphicon glyphicon-download"></i>
            </span>
            <span bs-tooltip
                  data-placement="left"
                  data-trigger="hover"
                  data-delay="{show: 400, hide: 100}"
                  data-title="Bookmark"
                  class="btn-invisible btn-icon disabled"
                  ng-click="" >
                <i class="glyphicon glyphicon-bookmark"></i>
            </span>
            <span bs-tooltip
                  data-placement="left"
                  data-trigger="hover"
                  data-delay="{show: 400, hide: 100}"
                  data-title="Share"
                  class="btn-invisible btn-icon disabled" 
                  ng-click="" >
                <i class="glyphicon glyphicon-share"></i>
            </span>
        </td>
    </tr>
</table>
