<div class="switchon-master-toolbar" 
     ng-class="{isToggled: masterToolbarService.getCanShow() && masterToolbarService.isShowing()}">
    <result-pager></result-pager>
    <resultSet result-set="resultSet" selected-object="selectedObject"></resultSet>
    <postsearchfilter filter-expressions="filterExpressions" 
                      post-search-filter-expressions="postSearchFilterExpressions" 
                      filter-tags="filterTags" 
                      search-function="performSearch(postFilterSearchString)" 
                      notification-function="notificationFunction(message, type)">     
    </postsearchfilter>
</div>