<div class="page-header" style="text-align: center">
    <h1>You are: <span class="glyphicon glyphicon-user" aria-hidden="true"></span> '{{user.name}}' <small> However, the profile page is yet to come</small></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <img src="images/under_construction_icon-green.svg"  alt="Under Construction"/>
                <div style="margin:auto; width:600px">
                    <h2>This feature is currently under construction!</h2>
                </div>
            </div>
        </div>
    </div>
</div>