<accordion close-others="false">
    <accordion-group ng-repeat="representation in representations | filter:{type: {name: 'original data'}}" 
                     is-open="representation._status.open"
                     ng-init="filename = representation.contentlocation.substr(representation.contentlocation.lastIndexOf('/')+1)">
        <accordion-heading>
            <i class="glyphicon {{representation.protocol.name | representationIcon}}"></i> 
            {{representation.name}} 
            <i class="pull-right glyphicon" 
               ng-class="{'glyphicon-chevron-down': representation._status.open, 'glyphicon-chevron-right': !representation._status.open}"></i> 
        </accordion-heading>
        <!-- Description -->
        <!--
        <div class="row" ng-if="representation.description">
            <div class="col-lg-3" title="Description of the data, e.g. information on data formats, download possibilities, etc.">
                <label>Description:</label>
            </div>
            <div class="col-lg-9">
                {{representation.description}}
            </div>
        </div>
        -->
        
        <!-- Temporal resolution -->
        <div class="row" ng-if="representation.temporalresolution">
            <div class="col-lg-3" title="Temporal resolution of the data, e.g. daily">
                <label>Temporal resolution:</label>
            </div>
            <div class="col-lg-9">
                {{representation.temporalresolution || 'n/a'}}
            </div>
        </div>
        
        <!-- Spatial resolution -->
        <div class="row" ng-if="representation.spatialresolution">
            <div class="col-lg-3" title="Spatial resolution of the data, e.g. meters or arc degrees.">
                <label>Spatial resolution:</label>
            </div>
            <div class="col-lg-9">
                {{representation.spatialresolution || 'n/a'}}
            </div>
        </div>
        
        <!-- Spatial scale -->
        <div class="row" ng-if="representation.spatialscale">
            <div class="col-lg-3" title="Spatial scale of the data, e.g. 1:2000 or  1:10000">
                <label>Spatial scale:</label>
            </div>
            <div class="col-lg-9">
                {{representation.spatialscale || 'n/a'}}
            </div>
        </div>
        
        <!-- Content Type -->
        <div class="row" ng-if="representation.contenttype">
            <div class="col-lg-3" title="MIME Type of the dataset">
                <label>File type:</label>
            </div>
            <div class="col-lg-9" title="{{representation.contenttype.description || 'n/a'}}">
                {{representation.contenttype.name || 'n/a'}}
            </div>
        </div>
        
        <!-- Data access function -->
        <div class="row" ng-if="representation.function">
            <div class="col-lg-3" title="Function that can be performed following the link to the dataset">
                <label>Type of Link:</label>
            </div>
            <div class="col-lg-9" title="{{representation.function.description || 'n/a'}}">
                {{representation.function.name || 'n/a'}}
            </div>
        </div>
        
        <!-- Data access Link -->
        <div class="row" ng-if="representation.contentlocation">
            <div class="col-lg-3" title="Link to the data or website where the data can be obtained">
                <label>Link to Data:</label>
            </div>
            <div class="col-lg-9">
                <a href="{{representation.contentlocation}}" 
                    target="_blank" 
                    rel="nofollow"
                    type="{{(representation.contenttype) ? representation.contenttype.name : 'application/octet-stream'}}"
                    ng-disabled="!representation.contentlocation">{{(filename && filename.indexOf('.') !== -1) ? filename : (representation.name ? representation.name : representation.contentlocation)}}</a>
            </div>
        </div>
    </accordion-group>
</accordion>