<accordion class="switchon-toolbar-component" close-others="true" ng-show="isVisible">
    <accordion-group ng-repeat="filterExpression in postSearchFilterExpressions.list | filter:{valid:true}" 
                     is-open="filterExpression._status.open">
        <accordion-heading>
            <strong>{{filterExpression.getName()}}<strong><i class="pull-right glyphicon" 
                                ng-class="{'glyphicon-chevron-down': filterExpression._status.open, 'glyphicon-chevron-up': !filterExpression._status.open}"></i>
        </accordion-heading>
        <span style="float:left; padding-bottom: 0.5em;" 
              ng-repeat="tag in filterExpression.enumeratedTags" 
              search-filter-tag 
              tag="tag" 
              remove-function="postSearchFilterDirectiveController.performRemove(tag)"
              remove-threshold="removeThreshold">  
        </span>
    </accordion-group>
</accordion>