<div class="panel panel-default">

    <div class="container nowrap"> 
        <strong>Resources</strong> ({{resultSet.$total}})
        <ul class="pagination pagination-sm">
            <li ng-class="{disabled: !resultSet.$previous}"><a href="#" aria-label="Previous" ng-click="alert();"><span aria-hidden="true">&laquo;</span></a></li>
            <li ng-class="{disabled: resultSet.$next}"><a href="#" aria-label="Next" ng-click="alert();"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="node in resultSet.$collection">  
            <span class="btn-link" ng-click="alert();">{{node.name}}</span>
            <p><small>{{node.description}}</small></p>
        </li>
    </ul>

</div>
