<span class="tag label" 
      ng-class="getTagStyle(tag.getType(), false, highlightNegated)">
    <span ng-class="getTagIcon(tag.getType())" title="{{tag.getTitle()}}"></span>
    <span ng-if="!tag.isEditable()">{{tag.getDisplayValue()}}</span>
    <span ng-if="tag.isEditable()" 
          bs-popover template="{{tag.getEditor()}}"
          placement="bottom"
          auto-close="1">{{tag.getDisplayValue(data.editorValue)}}
    </span> 
    <span ng-if="tag.getCardinality() > 0"><small><em>({{tag.getCardinality()}})</em></small></span>
    <a ng-if="tag.isRemoveable(removeThreshold)" title="delete"><i ng-click="hasRemoveFunction() ? performRemove(tag) : tag.remove()" 
          class="glyphicon glyphicon-remove"></i>
    </a>
</span>