<span class="tag label" 
      ng-class="getTagStyle(tag.type)">
    <span ng-class="getTagIcon(tag.type)"></span>
    <span ng-if="!tag.origin.isEditable()">{{tag.name}}</span>
    <span ng-if="tag.origin.isEditable()" 
          bs-popover template="{{tag.origin.editor}}"
          placement="bottom"
          auto-close="1">{{tag.origin.getDisplayValue(data.editorValue)}}</span> 
    <a><i ng-click="hasRemoveFunction() ? performRemove(tag) : tag.remove()" 
          class="glyphicon glyphicon-remove"></i></a>
</span>