<div class="panel panel-default">
    <div class="panel-heading">Options</div>
    <div class="panel-body">
        <form name="optionsForm" id="optionsForm" novalidate> 
            <div class="form-group ">
                <label for="geoIntersectsOption">Geospatial Search</label>
                <div class="form-inline">
                    <div class="radio" title="Find resources that intersect with the geospatial search area">
                        <label>
                            <input name="geoIntersectsOption" 
                                   id="geoIntersectsOption" 
                                   type="radio" 
                                   ng-model="geoIntersectsFilterExpression.value" 
                                   value="true"> Intersects
                        </label>
                    </div>
                    <div class="radio" title="Find resources that are enclosed in the geospatial search area">
                        <label>
                            <input name="geoEnclosesOption" 
                                   id="geoEnclosesOption" 
                                   type="radio" 
                                   ng-model="geoIntersectsFilterExpression.value" 
                                   value="false"> Encloses
                        </label>
                    </div>
                </div>
            </div>
            <!--
            <div class="form-group" ng-class="{'has-error': optionsForm.geoBufferField.$invalid}">
                 <input type="number" class="form-control" 
                   min="0" 
                   max="1000000" 
                   ngMinlength="1"
                   name="geoBufferField" 
                   id="geoBufferField" 
                   placeholder="buffer in meters"
                   ng-model="geoBufferFilterExpression.value">
            </div>
            <div class="form-group" ng-class="{'has-error': optionsForm.limitField.$invalid}">
                <div class="form-inline" title="Maximum number of search results that are shown at once">
                    <label for="limitField">Max. Search Results</label>                    
                    <input type="number" class="form-control" 
                           min="0" 
                           max="50" 
                           ngMinlength="1"
                           name="limitField" 
                           id="limitField" 
                           ng-model="limitFilterExpression.value">
                </div>
            </div>
            -->
        </form>
    </div>
</div>