<div class="panel panel-default">
    <div class="panel-heading">Filter Options</div>
    <div class="panel-body">
        <form name="optionsForm" id="optionsForm" novalidate> 
            <div class="form-group ">
                <label for="geoIntersectsOption">Geospatial Search</label>
                <div class="form-inline">
                    <div class="radio">
                        <label>
                            <input name="geoIntersectsOption" 
                                   id="geoIntersectsOption" 
                                   type="radio" 
                                   ng-model="geoIntersectsFilterExpression.value" 
                                   value="true"> Intersects
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input name="geoEnclosesOption" 
                                   id="geoEnclosesOption" 
                                   type="radio" 
                                   ng-model="geoIntersectsFilterExpression.value" 
                                   value="false"> Encloses
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': optionsForm.geoBufferField.$invalid}">
                 <input type="number" class="form-control" 
                   min="0" 
                   max="1000000" 
                   ngMinlength="1"
                   name="geoBufferField" 
                   id="geoBufferField" 
                   placeholder="buffer in meters"
                   ng-model="geoBufferFilterExpression.value">
            </div>
            <div class="form-group" ng-class="{'has-error': optionsForm.limitField.$invalid}">
                <label for="limitField">Limit Search Results</label>                    
                <input type="number" class="form-control" 
                       min="0" 
                       max="25" 
                       ngMinlength="1"
                       name="limitField" 
                       id="limitField" 
                       placeholder="# of results"
                       ng-model="limitFilterExpression.value">
            </div>
        </form>
    </div>
</div>