<div class="popover switchon-ribbon-popover">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
        <div class="switchon-ribbon">
            <div class="switchon-ribbon-panel">
                <date-filter filter-expressions="filterExpressions"></date-filter>
            </div>

            <div class="switchon-ribbon-panel">
                <tabset>
                    <tab heading="CUASHI">
                        <keyword-filter filter-expressions="filterExpressions" keyword-group="cuashi_keyword"></keyword-filter>
                    </tab>
                    <tab heading="INSPIRE">
                        <keyword-filter filter-expressions="filterExpressions" keyword-group="inspire_keyword"></keyword-filter>
                    </tab>
                    <tab heading="Topics">
                        <keyword-filter filter-expressions="filterExpressions" keyword-group="inspire_topic"></keyword-filter>
                    </tab>
                    <tab heading="Keywords">
                        <keyword-filter filter-expressions="filterExpressions" keyword-group="keyword"></keyword-filter>
                    </tab>
                </tabset>
            </div>

            <div class="switchon-ribbon-panel last">
                <tabset>
                    <tab heading="Europe">
                        <countries-filter filter-expressions="filterExpressions" country-group="countries_europe"></countries-filter>
                    </tab>
                    <tab heading="World">
                        <countries-filter filter-expressions="filterExpressions" country-group="countries_world"></countries-filter>
                    </tab>
                </tabset>
            </div>

            <div class="switchon-ribbon-footer">
                <span bs-tooltip
                      data-placement="left"
                      data-trigger="hover"
                      data-delay="{show: 400, hide: 100}"
                      data-title="Clear"
                      class="btn-invisible btn-icon"
                      ng-click="clear()">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </span>
                <span>Clear current search filters and options</span>
            </div>
        </div>
    </div>



