<div class="popover switchon-ribbon-popover">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
        <div class="switchon-ribbon">
            <div class="switchon-ribbon-panel">
                <div class="btn-group switchon-keywordgroup" dropdown is-open="keywordFilters.isopen">
                    <button type="button" 
                            class="btn btn-default dropdown-toggle" 
                            dropdown-toggle 
                            ng-init="keywordFilters.keywordGroup = 'Keywords'"
                            style="width:100%">
                        {{keywordFilters.keywordGroup}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <label class="btn" 
                                ng-model="keywordFilters.keywordGroup" 
                                btn-radio="'Keywords'" 
                                ng-click="keywordFilters.isopen = !keywordFilters.isopen"
                                title="All Keywords available in the SWITCH-ON Meta-Data Repository">
                                Keywords
                            </label>
                        </li>
                        <li>
                            <label class="btn" ng-model="keywordFilters.keywordGroup" 
                                   btn-radio="'TOPIC Categories'" 
                                   ng-click="keywordFilters.isopen = !keywordFilters.isopen"
                                   title="INSPIRE Topic Categories available in the SWITCH-ON Meta-Data Repository">
                                TOPIC Categories
                            </label>
                        </li>
                        <li>
                            <label class="btn" 
                                   ng-model="keywordFilters.keywordGroup" 
                                   btn-radio="'X-CUAHSI Keywords'" 
                                   ng-click="keywordFilters.isopen = !keywordFilters.isopen">
                                X-CUAHSI Keywords
                            </label>
                        </li>
                        <!--
                        <li>
                            <label class="btn" 
                                   ng-model="keywordFilters.keywordGroup" 
                                   btn-radio="'INSPIRE Keywords'" 
                                   ng-click="keywordFilters.isopen = !keywordFilters.isopen">INSPIRE Keywords
                            </label>
                        </li>
                        <li>
                            <label class="btn" 
                                ng-model="keywordFilters.keywordGroup" 
                                btn-radio="'Free Keywords'" 
                                ng-click="keywordFilters.isopen = !keywordFilters.isopen">
                                Free Keywords
                            </label>
                        </li>
                        -->
                    </ul>
                </div>

                <keyword-filter ng-show="keywordFilters.keywordGroup === 'Keywords'" 
                                class="ng-hide"
                                filter-expression="keywordsFilterExpression" 
                                keyword-group="keyword-all"
                                multiple="true">    
                </keyword-filter>
                <keyword-filter ng-show="keywordFilters.keywordGroup === 'TOPIC Categories'" 
                                class="ng-hide"
                                filter-expression="topicFilterExpression" 
                                keyword-group="topic-inspire"
                                multiple="false">
                </keyword-filter>
                
                <keyword-filter ng-show="keywordFilters.keywordGroup === 'X-CUAHSI Keywords'" 
                                class="ng-hide"
                                filter-expression="keywordsCuashiFilterExpression" 
                                keyword-group="keyword-x-cuahsi"
                                multiple="true">      
                </keyword-filter>
                <!--
                <keyword-filter ng-show="keywordFilters.keywordGroup === 'INSPIRE Keywords'" 
                                class="ng-hide"
                                filter-expression="keywordsFilterExpression" 
                                keyword-group="keyword-inspire"
                                multiple="true">
                </keyword-filter>
                <keyword-filter ng-show="keywordFilters.keywordGroup === 'Free Keywords'" 
                                class="ng-hide"
                                filter-expression="keywordsFilterExpression" 
                                keyword-group="keyword-free"
                                multiple="true">        
                -->
            </div>

            <!-- FIXME: Date Filter Directive does not work properly in latest versions of 
            Firefox and Internet Explorer. See https://github.com/switchonproject/sip-html5/issues/48 -->
<!--            <div class="switchon-ribbon-panel">
                <date-filter from-date-filter-expression="fromDateFilterExpression"
                             to-date-filter-expression="toDateFilterExpression">
                </date-filter>
            </div>-->

<!--            <div class="switchon-ribbon-panel">
                <tabset>
                    <tab heading="Europe">
                        <countries-filter 
                            filter-expression="geoFilterExpression" 
                            country-group="country-europe">
                        </countries-filter>
                    </tab>
                    <tab heading="World">
                        <countries-filter 
                            filter-expression="geoFilterExpression" 
                            country-group="country-world">
                        </countries-filter>
                    </tab>
                </tabset>
            </div>-->

            <div class="switchon-ribbon-panel last">
                <search-options geo-intersects-filter-expression="geoIntersectsFilterExpression"
                                geo-buffer-filter-expression="geoBufferFilterExpression"
                                limit-filter-expression="limitFilterExpression">
                </search-options>
            </div>

            <div class="switchon-ribbon-footer">
                <span title="Close the Search Filter Dialog"
                      aria-label="Close"
                      name="closeButton"
                      id="closeButton"
                      class="btn btn-default"
                      ng-click="$hide()">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
                <span title="Clear all Search Filters"
                      aria-label="Clear"
                      name="clearButton"
                      id="clearButton"
                      class="btn btn-default"
                      ng-disabled="((filterExpressions.enumeratedTags.length < 1)
                      && (!textFilterExpression.value || textFilterExpression.value.length < 3))"
                      ng-click="clear()">
                    <span class="glyphicon glyphicon-trash"></span>
                </span>
                <span title="Search for resources"
                      aria-label="Search"
                      name="searchButton"
                      id="searchButton"
                      class="btn btn-primary"
                      ng-disabled="((filterExpressions.enumeratedTags.length < 1)
                      && (!textFilterExpression.value || textFilterExpression.value.length < 3))"
                      ng-click="$hide(); performSearch()(0, config.clearPostSearchFilters)">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
    </div>



