<!--<div class="switchon-usb">-->
    <form  class="navbar-form navbar-left" 
           name="universalSearchBox" 
           id="universalSearchBox" 
           role="search"  
           novalidate >
        <div class="form-group" 
             ng-class="{'has-error': !universalSearchBox.filterExpressionInput.$error.required
                         && universalSearchBox.filterExpressionInput.$invalid}" >
            
            <div class="form-control usb-form-control">
                <div class="usb-tag-container">
                    <span ng-repeat="tag in filterExpressions.enumeratedTags"
                          search-filter-tag tag="tag">
                    </span>
                </div>

                <div class="usb-input-container">
                    <input class="switchon-usb-input"
                        name="filterExpressionInput" 
                        id="filterExpressionInput" 
                        type="text" 
                        placeholder="Please enter a query" 
                        ng-model="textFilterExpression.value" 
                        required/>
                </div>
            </div>
            <button ng-click="performSearch()" 
                    ng-disabled="((filterExpressions.enumeratedTags.length === 0) 
                        && (!textFilterExpression.value || textFilterExpression.value.length < 3))" 
                    class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

<!--            <button ng-click="clear()" class="btn btn-default">Clear</button>-->
        </div>

        <p class="help-block error" 
           ng-show="notificationFunction === undefined && !universalSearchBox.filterExpressionInput.$error.required
                        && universalSearchBox.filterExpressionInput.$invalid">
            This filter expression is not valid. 
            Try <strong>expression</strong><strong>:</strong><i>"parameter"</i>, e.g. keyword:"water quality".
        </p>

        <p class="help-block info" ng-show="notificationFunction === undefined &&
                        universalSearchBox.filterExpressionInput.$error.required">
            Please enter a filter expression,  e.g. keyword:"water quality".
        </p>    
    </form>
<!--</div>-->